<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/" >
                    <img src="/static/public_icon.png" alt="Form Logo" height="30"> 
                </a>
                <p>&copy; 2024 FormFlow, Inc</p>
            </div>
            <div class="col-md-8">
                <ul class="nav justify-content-end">
                    <li class="nav-item"><a href="/"  class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/"  class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/"  class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="/login"  class="nav-link">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>